* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: outside none;
  box-sizing: border-box;
}

body {
  background: #F4F5F7;
  color: #3F4347;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}


#app {
  padding-top: 0px;
}


#header {
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
  height: 50vh;
}

#header .container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

#header .logo {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  padding-top: 10vh;
}

#header .navi {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

#header .navi a {
  color: #fff;
  opacity: .9;
  transition: all ease .3s;
  margin-right: 15px;
}

#header .navi a:hover {
  color: #eee;
  opacity: .6;
}


#uptime {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-top: calc(-150px);
  padding: 0;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

#uptime .item {
  padding: 25px 30px;
  border-bottom: 1px solid #ddd;
  transition: all ease .3s;
}

#uptime .item:first-child {
  padding-top: 30px;
}

#uptime .item:last-child {
  padding-bottom: 30px;
  border-bottom: none;
}

#uptime .loading {
  background: url(./assets/loading.svg) center center / 40px 40px no-repeat;
  height: 100px;
}

#uptime .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#uptime .meta .info {
  display: flex;
  align-items: center;
}

#uptime .meta .name {
  font-size: 18px;
  line-height: 20px;
  color: #5A606B;
}

#uptime .meta .link {
  background: url(./assets/link.svg) center center / 100% 100% no-repeat;
  width: 13px;
  height: 13px;
  margin-left: 6px;
  opacity: 0.6;
  text-indent: -99999px;
  transition: opacity ease 0.3s;
}

#uptime .meta .link:hover {
  opacity: 1;
}

#uptime .meta .status {
  background: 0/16px auto no-repeat;
  padding-left: 20px;
  font-size: 16px;
}

#uptime .meta .status.ok {
  background-image: url(./assets/success.svg);
  color: #28A745;
}

#uptime .meta .status.down {
  background-image: url(./assets/fail.svg);
  color: #D9534F;
}

#uptime .meta .status.unknow {
  background-image: url(./assets/question.svg);
  color: #6A737D;
}

#uptime .timeline {
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#uptime .timeline i {
  flex-grow: 1;
  margin: 0 1px;
  cursor: pointer;
  opacity: .6;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#uptime .item:hover .timeline i {
  transition: all .15s ease;
  opacity: 1
}

#uptime .timeline i:first-child {
  margin-left: 0
}

#uptime .timeline i:last-child {
  margin-right: 0
}

#uptime .timeline i:hover {
  transition: all 0.15s ease;
  transform: scale(1.15);
}

#uptime .timeline i.ok {
  background: #4FD69C;
}

#uptime .timeline i.none {
  background: #eee;
}

#uptime .timeline i.down {
  background: #f85361;
}

#uptime .tooltip {
  font-size: 12px !important;
  padding: 6px 9px !important;
  border-radius: 4px !important;
  background: #172b4d;
}

#uptime .foot {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  line-height: 15px;
  color: #999FA6;
}

#footer {
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
  color: #8898aa;
  padding: 20px 0;
}

#footer a {
  color: #5e72e4;
  font-weight: 700;
  transition: all 0.3s ease;
}

#footer a:hover {
  opacity: 0.8;
}